body{
    font-family: var(--font-primary);
    color: var(--font-color-primary);
    
}


.ps{
    @apply ps-6; 
}

.pt{
    @apply pt-6; 
}

.pst{
    @apply ps-6 pt-6; 
    
}

.px{
    @apply px-6;
}
.py{
    @apply py-6;
}

.pe{
 @apply pe-6;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
  }
  
  input[type="range"]::-ms-thumb {
    width: 0;
    height: 0;
  }


  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 10px; /* Thin progress thumb */
    width: 10px;
    background-color: #7C74EE;
    border-radius: 0; /* Flat audio progress thumb */
    cursor: pointer;
    border: none;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: 10px; /* Thin progress thumb */
    width: 10px;
    background-color: #7C74EE;
    border-radius: 0; /* Flat audio progress thumb */
    cursor: pointer;
    border: none;
  }

  /* Circular volume thumb */
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #7C74EE;
    border-radius: 50%; /* Circular volume thumb */
    cursor: pointer;
    border: none;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #7C74EE;
    border-radius: 50%; /* Circular volume thumb */
    cursor: pointer;
    border: none;
  }